/*font style*/
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*structure*/
* {
    padding: 0;
    margin: 0;
    font-family: 'RIDIBatang';
}
body{
    background-color: white;
    width: 80%;
    margin : auto;
}
hr{
    border: solid 1px #ebded4;
}
button{
	cursor: pointer;
}
a{
	text-decoration: none;
	color: black;
}
/*기본적인것들*/
.selectLinkColor{
    color: #9a7b6c;
    position: relative;
}
.selectLinkColor:after{
    content: '';
    display: block;
    width: 100%;
    height: 0.2rem;
    position: absolute;
    margin: 0.3rem 0;
    background-color: #9a7b6c;
}
.selectBtnColor{
    background-color: #9a7b6c;
}
.center{
	text-align: center;
	margin: auto;
}
/*responsive*/
/*스마트폰*/
@media screen and (max-width:  767px){
    html{font-size: 8px;}
    .headerBtnStyle{
        display: block;
    }
}
/*태블릿 pc*/
@media screen and (min-width:  768px) and (max-width: 959px){
    html{font-size: 14px;}
}
/*데스크탑*/
@media screen and (min-width:  960px){
    html{font-size: 16px;}
    body{max-width: 1200px;}
}