/*main*/
main{
    width: 100%;
    margin: auto;
    position: relative;
}
/*slide*/
.slideContainer {
  width: 100%;
  position: relative;
  margin: auto;
}
.slideImg{
    width: 100%;
    aspect-ratio: 16/7;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -1.4rem;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
}
.prev:hover, .next:hover {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

.dot {
  cursor: pointer;
  height: 0.8rem;
  width: 0.8rem;
  margin: 0 0.1rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*recommend recipe*/
.ctMargin{
	margin: 6rem 0;
}
.title-font{
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem 0 1.5rem 0;
}
#recommendRecipe{
    width: 100%;
    display: flex;
    justify-content: left;
    margin-bottom: 5rem;
}
.recommendImg{
    width: 18%;
    margin: 1%;
}
.recommendImg:hover{
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
	box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}
#popularRecipeContainer{
    background-color: #EBDED4;
    padding: 0.6rem;
    border-radius: 5px;
}