main{
	width: 100%;
	margin: auto;
}
h2{
	font-size: 2.2rem;
}
a{
	color: #9a7b6c;
}
ol, ul {
	list-style: none;
}
ul, li{
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
}
button{
	padding: 0.5em;
	background-color: #9a7b6c;
	border: none;
	border-radius: 7px;
	font-weight: bold;
}
#proBtn button{
	padding: 0.5em;
	background-color: #9a7b6c;
	border: none;
	border-radius: 7px;
	font-weight: bold;
	margin: 0 0 2rem 1rem;
}
button:hover{
	background-color: #CFB9AF;
}
#proBtn{
	padding: 0 3em 0 0;
	text-align: right;
	background-color: #ebded4;
}
#contentContainer{
    clear: both;
    width: 80%;
    margin: auto;
    padding: 5em 0;
    border-radius: 5px;
}
#detailImgContainer{
    float: left;
    width: 40%;
    margin: 0 0 5% 5%;
    text-align: center;
    font-size: 1.5rem;
}
#titleImg{
    width: 100%;
    border: solid 1px #9a7b6c;
    border-radius: 5px;
    color: #CFB9AF;
    margin: 0 0 1rem 0;
    aspect-ratio: 1;
    object-fit: cover;
}
#detailContainer{
    float: right;
    width: 50%;
    margin: 0 2% 5% 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows : auto;
    text-align: left;
}
#detailTitle{
    height: 3rem;
    margin: 0 0.5rem;
    border: 1px;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align : left;
}
#detailTitleContainer, #detailPriceContainer{
	display: grid;
    grid-template-columns: 100%;
    grid-template-rows : auto;
}
#detailPrice{
    height: 2rem;
    margin: 0 0.5rem;
    border: 1px;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align : left;
}
#deilveryFee{
    height: 2rem;
    margin: 0 0.5rem;
    border: 1px;
    font-size: 1.1rem;
    padding: 3rem 0.5rem 0rem 0.5rem;
    text-align : left;
}
#option{
	width: 100%;
    margin: 0 0.5rem;
    padding: 0.5rem;
    text-align : left;
}
#productExplain{
	width: 100%;
    clear: both;
    margin: 1em auto;
    padding: 2em;
    border-radius: 5px;
    text-align : center;
}
#expTxt{
	text-align : left;
	padding: 0 0 1em 0;
	margin: 3rem 0;
}
#explainImg{
	width: 80%;
	overflow: hidden;
}
#likeProduct{
	height: 2rem;
	font-size: 1.5em;
	padding-left: 1rem;
}
#shareProduct{
	height: 2rem;
	font-size: 1.5em;
	padding-left: 1rem;
}
#likeProduct:hover, #shareProduct:hover{
    color: #CFB9AF;
}
hr{
	width:100%;
}
#acount{
	padding: 1em 3em 1em 0;
	text-align : right;
	font-weight: bold;
	background-color: #ebded4;
}
#allPro{
	font-size: 1.5em;
}
#totalPro{
	font-size: 2em;
}
.option_column {
    width: 100%;
    display: flex;
    margin: 0 0.5rem;
    padding: 0.5rem;
    box-sizing:border-box;
    border-bottom: 1px solid #425c5a;
}
.item {
    width: 100%;
    display: flex;
    margin: 0 0.5rem;
    padding: 0.5rem;
    box-sizing:border-box;
    border-top: 1px solid #dcdcdc;
}
.option_info {
    text-align: left;
    flex: 1;
    margin: auto auto auto 1rem;
    overflow: hidden;
    color:#333333;
}
.option_info_label{
	text-align: left;
    flex: 1;
    margin: auto auto auto 1rem;
    overflow: hidden;
    color:#333333;
}
.quantity {
    text-align: center;
    flex-basis: 10rem;
    flex-shrink: 0;
    margin: auto;
}
.quantity>.btn {
	width: 20px;
	height: 28px;
	border: none;
	padding: 0;
	line-height: 28px;
}
.quantity>input[type="number"] {
    width: 30px;
    height: 28px;
    border: none;
    text-align: center;
	vertical-align:middle;
}
input[type=number]::-webkit-outer-spin-button{
-webkit-appearance: none;margin: 0;
}
input[type=number]::-webkit-inner-spin-button{
-webkit-appearance: none;margin: 0;
}
.price {
    text-align: right;
    flex-basis: 60px;
    flex-shrink: 0;
    margin: auto;
    margin-right: 10px;
}
#review h2{
	margin: 3rem 1rem 2rem 1rem;
}
#review p{
	font-size: 1.2rem;
	text-align: center;
	margin: 0 0 6rem 0;
}